name: First Action

on:
  push:
    branches: [ main ]

jobs:
  test-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Echo message
        run: echo "GitHub Actions is working!"
